<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<script src="static/js/jquery.js"></script>
	<meta name="Language" content="en" />
	<title>NIEzapp</title>
	<meta name="description" content="Social Media Platform for NIE"/>
	<meta name="keywords" content="WP Projects">
	<meta name="author" content="Abhinav Kumar">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>


 
{% include 'nav.html' %}
</br></br></br>


<div class="container-fluid bg">
<div class="list-group">

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <p class="mb-1">
      <form method="POST" action="/">
        <div class="form-group">
          <label for="formGroupExampleInput">Write Something to Post</label>
          <input type="text" class="form-control" name="postInput">
        </div>
        <input type="submit" class="btn btn-primary mb-2" value="Image">
        <input type="submit" class="btn btn-primary mb-2" value="Video">
        <input type="submit" class="btn btn-primary mb-2" value="OK">
      </form>
    </p>
  </a>
</br></br>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Post Heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">{{ d }}</p>
    <small class="text-muted">By Akshari,Abhinav,Abhinav Kumar</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Post Heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">A social media platform has been launched exclusively for The National Institute of Engineering</p>
    <small class="text-muted">By Akshari,Abhinav,Abhinav Kumar</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Post Heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">A social media platform has been launched exclusively for The National Institute of Engineering</p>
    <small class="text-muted">By Akshari,Abhinav,Abhinav Kumar</small>
  </a>
</div>
</div>


<!-- <script>
  function getData(){
    var content = document.getElementByID("postInput");
    alert(content.value);
    firebase.database().ref().child("posts").set(content.value);
  }

</script> -->

</body>
</html>
